pyrogram
tgcrypto
py-tgcalls==0.5.5
python-dotenv
youtube-search-python
requests
aiohttp
aiofiles
asyncio
youtube-search
search-engine-parser
ffmpeg-python
pillow
future
psutil
wget
motor
dnspython
speedtest-cli
yt-dlp
httpx==0.13.3
heroku3
gitpython
pymongo
